{% extends 'myapp/base.html' %}
{% block content %}
<h3>My Purchases</h3>
{% for purchase in purchases %}
  <div class="card p-3 mb-2">
    <h5>{{ purchase.product.name }}</h5>
    <p>Price: ${{ purchase.product.price }}</p>
    <div class="d-flex align-items-center gap-2 mb-2">
    <span>Quantity:</span>

    <a href="{% url 'decrease_quantity' purchase.id %}"
       class="btn btn-outline-danger btn-sm">
        -
    </a>

    <span>{{ purchase.quantity }}</span>

    <a href="{% url 'increase_quantity' purchase.id %}"
       class="btn btn-outline-success btn-sm">
        +
    </a>
        <a href="{% url 'remove_from_cart' purchase.id %}"
   class="btn btn-outline-danger btn-sm">
    Remove
</a>
</div>
    <p>Subtotal: ${{ purchase.subtotal|floatformat:2 }}</p>
  </div>
{% empty %}
  <p>Your cart is empty.</p>
{% endfor %}

{% if purchases %}
  <h4 class="mt-3">
    Total: ${{ total|floatformat:2 }}
  </h4>

  <form method="post" action="{% url 'submit_order' %}">
    {% csrf_token %}

    <button class="btn btn-success">
      Checkout Order
    </button>
  </form>
{% endif %}

{% endblock %}