{% extends 'myapp/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="col-md-6 mx-auto">
  <div class="card card-shadow p-4">
    <h3 class="text-center mb-4">Create Account</h3>

    <form method="post">
      {% csrf_token %}

      {{ form.as_p }}


      <button class="btn btn-success w-100">
        Register
      </button>

    </form>

    <p class="text-center mt-3 mb-0">
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </p>
  </div>
</div>
{% endblock %}