{% extends 'myapp/base.html' %}

{% block title %}Sales{% endblock %}

{% block content %}

<h3>Sales History</h3>

{% for order in orders %}
<div class="card p-3 mb-2">
    <b>Order #{{ order.id }}</b>
    <p>Customer: {{ order.customer.user.username }}</p>

    {% for detail in order.details.all %}
        {% if detail.product.seller == request.user and detail.has_paid %}
            <p>Product --> {{ detail.product.name }} - ${{ detail.amount }}</p>
        {% endif %}
    {% endfor %}

    <span class="badge bg-success">Paid</span>
</div>
{% empty %}
<p>No sales yet.</p>
{% endfor %}

{% endblock %}