{% extends 'myapp/base.html' %}

{% block title %}Sales{% endblock %}

{% block content %}

<h3>Sales History</h3>
<form method="get" class="mb-4">

    <div class="d-flex gap-2">
        <select name="period" class="form-select">
            <option value="all" {% if period == 'all' %}selected{% endif %}>
                All
            </option>

            <option value="today" {% if period == 'today' %}selected{% endif %}>
                Today
            </option>

            <option value="week" {% if period == 'week' %}selected{% endif %}>
                Last 7 Days
            </option>

            <option value="month" {% if period == 'month' %}selected{% endif %}>
                Last 30 Days
            </option>
        </select>

        <input type="date"
               name="start_date"
               value="{{ start_date }}"
               class="form-control">

        <input type="date"
               name="end_date"
               value="{{ end_date }}"
               class="form-control">

        <input type="text"
       name="search"
       value="{{ search }}"
       class="form-control"
       placeholder="Search product or customer...">

        <button type="submit" class="btn btn-primary">
            Apply
        </button>
    </div>

</form>
{% for order in orders %}
<div class="card p-3 mb-2">
    <b>Order #{{ order.id }}</b>
    <p>Customer: {{ order.customer.user.username }}</p>

    {% for detail in order.details.all %}
        {% if detail.product.seller == request.user and detail.has_paid %}
           <div class="border rounded p-2 mb-2">
    <strong>{{ detail.product.name }}</strong>
    <div class="small text-muted">
        Quantity: {{ detail.quantity }}
        | Price: ${{ detail.product.price|floatformat:2 }}
        | {{ order.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
        {% endif %}
    {% endfor %}

    <strong>Total: ${{ order.seller_total }}</strong>
</div>
{% empty %}
<p>No sales yet.</p>
{% endfor %}

{% endblock %}